<div class="animate__animated animate__fadeIn animate__faster">
    <h3>By Country</h3>
    <hr>

    <div class="row">
        <div class="col">
            <!-- Input Component -->
            <app-country-input
                (onEnter)="searchCountry( $event )"
                (onDebounce)="makeSuggestions( $event )"
                placeholder="Search by Country"
            ></app-country-input>
            <!-- --------------- -->
        </div>
    </div>

    <!-- Suggestions html block -->
    <ul 
    *ngIf="displaySuggestions"
    class="list-group">

        <li *ngFor="let country of suggestedCountries"  
        class="list-group-item list-group-item-action">

            <a 
            class="nav-link"
            [routerLink]="['/country', country.alpha2Code]"
            > 
                {{ country.name }} 
            </a>

        </li>

        <li class="list-group-item list-group-item-action"
            (click)="searchSuggested( term )">
            <a class="nav-link"> 
                Search "{{ term }}" 
            </a>
        </li>
    </ul>
    <!-- ---------------------- -->

    <hr>

</div>


<!-- Alert banner only visible when there is an error -->
<div
    *ngIf="isError"
    class="alert alert-danger">
    Country not found with {{ term }}
</div>
<!-- ------------------------------------------------ -->


<!-- Country table -->
<div
    *ngIf="countries.length > 0"
    class="row">
    <div class="col">

        <!-- Table component -->
        <app-country-table
            [inputCountries]="countries"
        ></app-country-table>
        <!-- --------------- -->
    
    </div>
</div>
<!-- ------------- -->