<table class="table table-hover animate__animated animate__bounceIn">
    <thead>
        <tr>
            <th> # </th>
            <th> Flag </th>
            <th> Name </th>
            <th> Population </th>
            <th> Link </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let country of inputCountries; let i = index" >
            <td> {{ i+1 }} </td>
            <td>
                <img class="small-flag" [src]="country.flag" alt="country.name">
            </td>
            <td> {{ country.name }}, {{ country.capital }} </td>
            <td> {{ country.population | number}} </td>
            <td>
                <a 
                [routerLink]="['/country', country.alpha2Code]"
                > View... </a>
            </td>
        </tr>
    </tbody>
</table>