<!-- 
    In this case our app component it's only to call another sub-components that will deal with the information.
    In this case we can see that we're calling our 'counter.component.ts'
-->
<!-- <app-counter></app-counter> -->



<!-- Hero Component  That we cannot use because the heroes module has not defined it in its decorator's exported array-->
<!-- <app-hero></app-hero> -->

<!-- List Component -->
<!-- <app-list></app-list> -->

<!-- Dbz Component -->
<app-main-page></app-main-page>