<p>error-page works!</p>

<ul>
    <li>
        <a routerLink="/auth/login">
            Go to Login
        </a>
    </li>
    <li>
        <a routerLink="/auth/register">
            Go to Register
        </a>
    </li>
</ul>

<ul>
    <li>
        <a routerLink="/heroes/list">
            Go to Heroes List
        </a>
    </li>
    <li>
        <a routerLink="/heroes/add">
            Go to Add Heroes
        </a>
    </li>
    <li>
        <a routerLink="/heroes/edit/:id">
            Go to Heroes Edit Page
        </a>
    </li>
    <li>
        <a routerLink="/heroes/search">
            Go to Search Heroes 
        </a>
    </li>
    <li>
        <a routerLink="/heroes/:id">
            Go to Hero Page
        </a>
    </li>
</ul>