<!-- Logic comes from Typescript Template -->
<h2>Template: Basics</h2>
<hr>

<div class="row">
    <div class="col">

        <!-- Assign formdata from typescript -->
        <form
            (ngSubmit)="save()"
            [formGroup]="myForm" 
            autocomplete="off">
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Product</label>
                <div class="col-sm-9">

                    <!-- Assign form imput name equel to the myFom's name field -->
                    <input 
                        formControlName="productName"
                        type="text"
                        class="form-control"
                        placeholder="Product Name">

                    <span 
                        class="form-text text-danger"
                        *ngIf="validField('productName')">
                        Must be 3 words minimum
                    </span>
                </div>
            </div>

            <!-- Price Field -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Price</label>
                <div class="col-sm-9">
                    <input 
                        formControlName="productPrice"
                        type="number"
                        class="form-control"
                        placeholder="Product Price">

                    <span 
                        class="form-text text-danger"
                        *ngIf="validField('productPrice')">
                        Price must be 0 or bigger
                    </span>
                </div>
            </div>

            <!-- Stock Field -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Stock</label>
                <div class="col-sm-9">
                    <input 
                        formControlName="productStock"
                        type="number"
                        class="form-control"
                        placeholder="Product Stock">

                    <span 
                        class="form-text text-danger"
                        *ngIf="validField('productStock')">
                        Stock must be 0 or bigger
                    </span>
                </div>
            </div>

            <!-- button -->
            <div class="row">
                <div class="col">
                    <button 
                        type="submit" 
                        class="btn btn-primary float-end">
                        Submit
                    </button>
                </div>
            </div>


        </form>
    </div>
</div>

<div class="row">
    <div class="col">

        <span>Valid (required fields?)</span>
        <pre> {{ myForm.valid }} </pre>
        
        <span>Pristine (any change in form element?)</span>
        <pre> {{ myForm.pristine }} </pre>
        
        <span>Touched (did user 'touch' the form? )</span>
        <pre> {{ myForm.touched }} </pre>
        
        <span>Value</span>
        <pre> {{ myForm.value | json }} </pre>
        
    </div>
</div>