<ul class="list-group">
    <li 
        (click)="addMarker()"
        class="list-group-item list-group-item-info">
        + Add
    </li>
    <li 
        *ngFor="let marker of markers; let i = index"
        (click)="goToMarker( marker )"
        (dblclick) ="deleteMarker( i )"
        class="list-group-item"
        [ngStyle]="{ 'background-color': marker.color }"
        >
        Marker #{{ i+1 }}
    </li>
</ul>


<!-- Declared a local reference to avoid interactions with another maps -->
<div #map class="map-container "></div>
